body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

main {
    background: url(./img/menu-background.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;   
}

#logo{
    width: 100%;
    margin-bottom: 10px;
    
}

a {
    white-space: nowrap;     
    font-size: 1.2rem;        
    padding: 8px 3px;          
    text-align: center;
    width: 50%;           
    background-color: rgb(160, 160, 160);  
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
}