body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  width: 100vw;
  height: 100vh;
}

.cell:hover {
  filter: brightness(1.1);
  border: 1px solid rgb(255, 255, 255);
}

.but button:hover,
.icons img:hover {
  filter: brightness(1.3);
  transform: scale(1.1);
  transition: 0.5s;
}

.but {
  display: flex;
  position: fixed;
  left: 20px;
  top: 2%;
  gap: 10px;
}

button {
  background-color: rgb(160, 160, 160);
  color: white;
}

.icons {
  position: fixed;
  left: 20px;
  top: 25%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}

.icons img {
  width: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.cell {
  background-color: rgb(135, 206, 235);
  background-size: cover;
}

.grass {
  background-image: url("./icons/grass5.png");
}

.dirt {
  background-image: url("./icons/soil1.png");
}

.stone {
  background-image: url("./icons/stone.webp");
}

.amount{
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  right: 20px;
  top: 12%;
  gap: 8px;
  /* border: 1px solid black; */
}

.amount > div {
  width: 30px;
  height: 30px;
  background-size: contain;
  display: none;
}

.quantity{
  position: relative;
  bottom: 10px;
  right: 15px;
}